/* Layout */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
}

.wrapper {
  min-height: 100vh;
  width: auto;
  display: grid;
  place-items: center;
}

.game-board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr ;
}

.game-cell{
  display: grid;
  place-items: center;
  border: 10px solid white;
  font-size: 5em;
  color: white;
}

.top-cell {
  border-top: none;
}

.bottom-cell {
  border-bottom: none;
}

.left-cell {
  border-left: none;
}

.right-cell {
  border-right: none;
}
